<div class="content">
	 <form class="pure-form">
    		<fieldset>
        		<legend style="text-align:center"><b>{$ date_today $}::{$ time_zone $}</b> </legend>
			<input type="text" class="pure-input-1" ng-model="messageContent" ng-keypress="onKeyEnter($event)" placeholder="Key in your feeling & press ENTER"></input>
        		<button type="submit" class="pure-button pure-button-primary" ng-click="addChatMessage()">Submit</button>
		</fieldset>
		</form>		
    
        <div ng-show="messages.length != 0">
                <table class="pure-table pure-table-bordered" style="width:100%">
                        <thead>
                        <tr>
                                <th>Message</th>
                                <th>Time</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="message in messages">
                                <td>{$message.content$}</td>
                                <td style="width:8em">{$message.event_time$}</td>
                        </tr>
                </table>
	</div> 
</div>       
