<div class="content">
	 <form class="pure-form">
                <fieldset style="text-align:center">
			<input pikaday="for_date" placeholder="Select a Date" readonly/> 
                        <button type="submit" class="pure-button pure-button-primary" ng-click="loadAllMessages()">List</button>
                	<p ng-show="selected_date" class="selected_date"> Diary for : <b>{$ selected_date $} - {$ time_zone $} </b></p>
		</fieldset>
         </form>
	<div ng-show="messages.length != 0">
    		<table class="pure-table pure-table-bordered" style="width:100%">
        		<thead>
			<tr>
            			<th>Message</th>
            			<th>Time</th>
        		</tr>  
			</thead>      		
			<tr ng-repeat="message in messages">
            			<td style="overflow:hidden">{$message.content$}</td>
                		<td style="width:8em">{$message.event_time$}</td>
            		</tr>
    		</table>
    	</div>
 </div>       
