<div class="container">
    {% csrf_token %}
    <h4 class="text-center">  -- Add Force -- </h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="pName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pName" ng-model="person.p_name">
            </div>
        </div>
        <div class="form-group">
            <label for="pID" class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pID" ng-model="person.p_code">
            </div>
        </div>
        <div class="form-group">
            <label for="pPS" class="col-sm-2 control-label">Police Station</label>
            <div class="col-sm-4">
                <select class="form-control" id="pPS" ng-model="person.p_ps">
                    <option>Kadapa I town P.S.</option>
                    <option>Kadapa Taluk P.S.</option>
                    <option>Kadapa Traffic P.S.</option>
                    <option>Chennur P.S.</option>
                    <option>Kadapa II town P.S.</option>
                    <option>C. Chowk U/G P.S.</option>
                    <option>RIMS P.S.</option>
                    <option>C.K Dinne P.S.</option>
                    <option>Pendlimarry P.S.</option>
                    <option>Vallur P.S.</option>
                    <option>Yerraguntla P.S.</option>
                    <option>Kamalapuram P.S.</option>
                    <option>G.R Palli P.S.</option>
                    <option>Kalamala P.S.</option>
                    <option>CCS, Kadapa.</option>
                    <option>PCR, Kadapa.</option>
                    <option>Women U/G P.S.</option>
                    <option>Proddatur I Town P.S.</option>
                    <option>Proddatur 2 town P.S.</option>
                    <option>Proddatur 3 town P.S.</option>
                    <option>Proddatur Traffic P.S.</option>
                    <option>Proddatur (R) P.S.</option>
                    <option>Rajupalem P.S.</option>
                    <option>Chapadu P.S.</option>
                    <option>PCR, Proddatur</option>
                    <option>J. Madugu U/G P.S.</option>
                    <option>T. Patnam P.S.</option>
                    <option>Mylavaram P.S.</option>
                    <option>Peddamudiam P.S.</option>
                    <option>Kondapuram P.S.</option>
                    <option>Simhadripuram P.S.</option>
                    <option>T. Proddatur P.S.</option>
                    <option>Thondur P.S.</option>
                    <option>Muddanur P.S.</option>
                    <option>Pulivendula U/G P.S.</option>
                    <option>Pulivendula Tr., P.S.</option>
                    <option>Lingala P.S.</option>
                    <option>Vemula P.S.</option>
                    <option>Vempalli P.S.</option>
                    <option>R.K. Valley P.S.</option>
                    <option>L.R Palli P.S.</option>
                    <option>Ramapuram P.S.</option>
                    <option>Galiveedu P.S.</option>
                    <option>Chakrayapet P.S.</option>
                    <option>Rayachoty U/G P.S.</option>
                    <option>Chinnamandem P.S.</option>
                    <option>Sambepalli P.S.</option>
                    <option>T. Sundupalli P.S.</option>
                    <option>Veeraballi P.S.</option>
                    <option>Rajampet U/G P.S.</option>
                    <option>Mannur P.S.</option>
                    <option>Pullampet P.S.</option>
                    <option>Pengalur P.S.</option>
                    <option>Kodur P.S.</option>
                    <option>Chitvel P.S.</option>
                    <option>O.V Palli P.S.</option>
                    <option>Vontimitta P.S.</option>
                    <option>Nandalur P.S.</option>
                    <option>Sidhout P.S.</option>
                    <option>Mydukur U/G P.S.</option>
                    <option>Duvvur P.S.</option>
                    <option>Khajipet P.S.</option>
                    <option>B.Mattam P.S.</option>
                    <option>Badvel Town P.S.</option>
                    <option>Badvel Rural P.S.</option>
                    <option>Atlur P.S.</option>
                    <option>Porumamilla P.S.</option>
                    <option>Kalasapadu P.S.</option>
                    <option>B. Kodur P.S.</option>
                    <option>DCRB, Kadapa.</option>
                    <option>DSB, Kadapa.</option>
                    <option>VR, Kadapa.</option>
                    <option>SC/ST Cell, Kadapa</option>
                    <option>F/Zone, Kadapa.</option>
                    <option>F/Zone, Proddatur.</option>
                    <option>RSTF, Kadapa.</option>
                    <option>DTC, Kadapa.</option>
                    <option>DAR, Kadapa.</option>
                    <option>Spl. Par. Kadapa. </option>
                    <option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="pJob" class="col-sm-2 control-label">Designation</label>
            <div class="col-sm-10">
                <select class="form-control" id="pJob" ng-model="person.p_designation">
                    <option>DSP</option>
                    <option>CI</option>
                    <option>SI</option>
                    <option>WSI</option>
                    <option>ASI</option>
                    <option>WASI</option>
                    <option>HC</option>
                    <option>WHC</option>
                    <option>PC</option>
                    <option>WPC</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="pContact" class="col-sm-2 control-label">Contact Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pContact" ng-model="person.p_contact">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="addParticipant()">Submit</button>
                <span ng-show="response && !response.response"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></span>
                <span ng-show="response.response && response.response == 'success'"> Successfully Submitted ! </span>
                <span ng-show="response.response && response.response == 'failure'"> XX An Error Occurred, Please submit again ! </span>
            </div>
        </div>
    </form>
</div>