<div class="container" ng-controller="eventAllotmentController">
    {% csrf_token %}
    <h4 class="text-center"> -- Add Picket Point -- </h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="pp_name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pp_name" ng-model="pp.ep_name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="addPPoint()">Submit</button>
                <span ng-show="response && !response.response"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></span>
                <span ng-show="response.response && response.response == 'success'"> Successfully Submitted ! </span>
                <span ng-show="response.response && response.response == 'failure'"> XX An Error Occurred, Please submit again ! </span>
            </div>
        </div>
    </form>
</div>