<div class="container" ng-controller="eventAllotmentController">
    {% csrf_token %}
    <form class="form-horizontal">
        <div class="form-group">
            <h3 class="text-center"> Event Creation </h3>
        </div>
        <div class="form-group">
            <label for="eventNameId" class="col-sm-2 control-label">Event Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventNameId" ng-model="event.name">
            </div>
        </div>
        <div class="form-group">
            <label for="eventPlaceId" class="col-sm-2 control-label">Event Place</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventPlaceId" ng-model="event.place">
            </div>
        </div>
        <div class="form-group">
            <label for="datetimepicker1" class="col-sm-2 control-label">Event Start(Date & Time) </label>
            <div class='col-sm-4'>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-model="event.start_date" id="event_start_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
            (function() {
                $('#datetimepicker1').datetimepicker({format : 'DD-MMM-YYYY hh:mm:ss A'});
            })();
            </script>
        </div>
        <div class="form-group">
            <label for="datetimepicker2" class="col-sm-2 control-label">Event End (Date & Time) </label>
            <div class='col-sm-4'>
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" ng-model="event.end_date" id="event_end_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
            (function() {
                $('#datetimepicker2').datetimepicker({format : 'DD-MMM-YYYY hh:mm:ss A'});
            })();
            </script>
        </div>
        <div class="form-group">
            <label for="eventOwnerId" class="col-sm-2 control-label">Event Owner (Designation)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventOwnerId" ng-model="event.owner">
            </div>
        </div>
        <div class="form-group">
            <label for="eventOwnerId" class="col-sm-2 control-label">Event Owning Branch)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventOwnerId" ng-model="event.owner_branch">
            </div>
        </div>
        <div class="form-group">
            <label for="eventOwnerId" class="col-sm-2 control-label">Branch District</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventOwnerId" ng-model="event.owner_district">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="addEvent()">Submit</button>
                <span ng-show="response && !response.response"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></span>
                <span ng-show="response.response && response.response == 'success'"> Successfully Submitted ! </span>
                <span ng-show="response.response && response.response == 'failure'"> XX An Error Occurred, Please submit again ! </span>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10" ng-show="response.response && response.response == 'success'">
            Click to <a href="/manage_event/{$response.pk$}/#/allot_pp/{$response.pk$}" target="_blank">Add Picket Points</a> to this event
            <br> Click to <a href="/manage_event/{$response.pk$}/#/allot_force/{$response.pk$}" target="_blank">Allot Force </a> to this event
        </div>
    </form>
</div>