<h4 class="text-center"> -- Allotted Picket Points --  </h4>
<div ng-init="callPPoints()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Picket Point Name
                </th>
            </tr>
        </thead>
        <tr ng-repeat="pp_event in all_ppoints">
            <td>
                <a href="#/view_dispatch_force_page/{$pp_event.ep_event_id$}/{$pp_event.pk$}"> {$pp_event.ep_sector$} : {$pp_event.ep_name$}</a>
            </td>
            <td>
                <a href="#/passport/{$pp_event.ep_event_id$}/{$pp_event.pk$}" target="_blank">Generate Passport</a>
            </td>
            <td>
                <button type="submit" class="btn btn-default" ng-click="deletePoint(pp_event.pk, index)">Delete</button>
            </td>
        </tr>
    </table>
</div>