/* Sticky footer styles
-------------------------------------------------- */

body,html {
  height:100%;
  overflow: hidden;
}
.footer {
  position: static;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10%;
  background-color: #f5f5f5;
}

.wrapper {
    overflow-y:scroll;
    height: 90%;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
