{% load staticfiles %}
<div class="content">
	<h2 class="content-subhead">About The Chat-on-Diary</h2>
        <p>
        	Ever thought of writing diary? Diary need not be in large paragraphs. Diary can be written on any time of the day with this application. You just start feeding this app as and when you feel like. Do it from your laptop, PC, Tab and even the Smart Phone. You just start feeding this application and we keep track of what you felt and when. At the end of the year/month/day, you can come back and have a look at what you did in the last month/year/day as if you read a book.
	</p>
	{% if login_user == 'Guest' %}
	<a href="{{login_url}}"><img src="{% static 'diary/g_button.png' %}" > </a>
	{% endif %}
</div>
