<div class="content">
        
	<h2 class="content-subhead">
		Behind The Screens . . .
	</h2>
	<p>ChatOnDiary is a product of BMR Software India Private Ltd<sup>***</sup> </p>
	<p>ChatOnDiary is sincerely grateful to the following Frameworks/Libraries which are used in building this application.</p>
<ul>
  <li><a href="https://cloud.google.com/appengine/docs">Google App Engine </a> for providing such a Great platform for developing and deploying applications on cloud in a convinient way.</li>
  <li><a href="https://www.djangoproject.com/"> Django </a> - "The web framework for perfectionists with deadlines" - This is what Djago says and its absolutely True.</li>
  <li><a href="http://purecss.io/"> Pure.CSS </a> - A Simple & Powerful CSS Library</li>
  <li><a href="https://angularjs.org/"> AngularJS by Google </a> - HTML enhanced for web apps </li>
  <li><a href="https://github.com/dbushell/Pikaday" > Pikaday </a> - A Simple Javascript Datepicker </li>
  <li><a href="https://fortawesome.github.io/Font-Awesome/"> Font Awesome </a> - The iconic font and CSS toolkit </li>
</ul>

<span style="font:status-bar">***Registration Pending.</span>

</div>
