{% load staticfiles %}
<div class="content">
	 
	<form class="pure-form"> {% csrf_token %}
                        <legend style="text-align:center"><span style="display:inline-block">{$ date_today $}-</span> <span style="display:inline-block">{$ time_zone $}</span></legend>
			<div class="pure-g" style="text-align:center;vertical-align:middle">
			<div class="pure-u-22-24" >
			<input type="text" class="pure-input-1" style="display:inline" ng-model="messageContent" ng-keypress="onKeyEnter($event)" placeholder="Key in your feeling & press ENTER"></input> </div>
        		<div class="pure-u-2-24"><button class="pure-button" style="display:inline" ng-click="addChatMessage()" title="Submit"><i class="fa fa-keyboard-o"></i></a></div>
			</div>
			<legend> </legend>
		</form>		
    
        <div ng-show="messages.length != 0">
                <table class="pure-table pure-table-bordered" style="width:100%">
                        <thead>
                        <tr>
                                <th>Message</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="message in messages">
                                <td>
				<span style="float: left; text-align: left"> {$message.content$} </span> 
				<span style="float: right; text-align: right" ng-show="!message.event_time"><i class="fa fa-cog fa-spin"></i></span>
				<span style="float: right; text-align: right" ng-show="message.event_time && message.event_time != 'Error'"><i class="fa fa-check fa-2" style="color:green"></i>{$message.event_time$}</span>
				<span style="float: right; text-align: right" ng-show="message.event_time && message.event_time == 'Error'"><i class="fa fa-times fa-3" style="color:red"></i> {$message.event_time$}</span>
                        	</td>
			</tr>
                </table>
	</div> 
</div>       
