{% load staticfiles %}
<div class="content">
    <form class="pure-form pure-form-stacked"> {% csrf_token %}
        <legend style="text-align:center">
            <i class="fa fa-pencil-square-o"></i> Feedback
        </legend>
        <textarea class="pure-input-1" style="display:block" rows="10" placeholder="Your Feedback . . .">
        </textarea>
        <button class="pure-button" title="Submit">
            <i class="fa fa-keyboard-o fa-3">  Submit </i>
        </button>
    </form>
</div>