
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Diary Simple Diary Chat Diary Journal">

    <title>ChatOnDiary</title>


	{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'diary/side-menu.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'diary/diary.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'diary/pikaday.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'diary/pure-min.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<script src="{% static 'diary/angular.js' %}"></script>
        <script src="{% static 'diary/pikaday.js' %}"></script>
        <script src="{% static 'diary/pikaday-angular.js' %}"></script>
        <script src="{% static 'diary/moment.js' %}"></script>
        <script src="{% static 'diary/diary.js' %}"></script>
        <script src="{% static 'diary/angular-route.js' %}"></script>


</head>
<body ng-app="selfChat">

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <span class="pure-menu-heading">
	    <i class="fa fa-book fa-2" > </i>
	    <i class="fa fa-mobile fa-2" > </i>
	    <i class="fa fa-laptop fa-2" > </i>
	    <i class="fa fa-tablet fa-2" > </i>
            <i class="fa fa-book fa-2" > </i>
	    </span>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#entry" class="pure-menu-link">Entry</a></li>
                <li class="pure-menu-item"><a href="#list" class="pure-menu-link">View</a></li>
                <li class="pure-menu-item"><a href="#credits" class="pure-menu-link">Credits</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
	<div class="header">
	<table class="pure-table" style="width:100%;border:none">
		<tr><td>		
		<span class="c_title" style="float:left;text-align:left;padding:0em 2em 0em 2em">
			ChatOnDiary 
		</span>
		<span style="float:right;text-align:right;padding:0em 2em 0em 2em">
			<i class="fa fa-user"></i>
			{% if login_user != 'Guest' %}
			{{ login_user }}
			<a class="pure-button" href="{{logout_url}}" title="Logout">
			<i class="fa fa-sign-out"></i>
			</a> 
			{% else %}
			Guest	
			<a class="pure-button" href="{{login_url}}" title="Sign-In with Google">
			<i class="fa fa-sign-in"></i>
			</a>
			{% endif %}
		</span>
		</td></tr>
	</table>
	</div>
    </div>
    <div ng-view></div>

</div>

        <script src="{% static 'diary/ui.js' %}"></script>

</body>
</html>

