{% load staticfiles %}
<div class="content">
		<form class="pure-form" style="text-align:center">	
			<legend style="text-align:center"><span style="display:inline-block">{$ date_today $}-</span> <span style="display:inline-block">{$ time_zone $}</span></legend>
			<input pikaday="for_date" style="display:inline" placeholder="Select a Date" readonly size=13/> 
                        <button class="pure-button" tyle="display:inline" ng-disabled="for_date == ''" ng-click="loadAllMessages()" ><i class = "fa fa-list fa-2"></i></button>
        	</form>        	
	<p ng-show="selected_date" class="selected_date"> Diary for : <b>{$ selected_date $} - {$ time_zone $} </b></p>
	<div ng-show="!loading && messages && messages.length != 0">
    		<table class="pure-table pure-table-bordered" style="width:100%">
			<thead>
			<tr>
            			<td>
				<span style="float: left; text-align: left">
					<i class="fa fa-caret-left fa-3 pure-button pure-button-primary" ng-show="pagination.offset > 0" ng-click="pagination.prevPage()"> Prev</i> 
				</span>
				<span style="float:center; text-align: center"></span>
				<span style="float: right; text-align: right">
					<i class="pure-button pure-button-primary fa fa-caret-right fa-3" ng-show="pagination.offset+pagination.pageSize < messages.length" ng-click="pagination.nextPage()"> Next</i>
				</span>
				</td>
        		</tr>  
			</thead>
			<tr ng-repeat="message in pagination.currentPage">
            			<td> 
				<span style="float: left; text-align: left">{$message.content$} </span>
                		<span style="float: right; text-align: right">{$message.event_time$}</span>
				</td>
            		</tr>
    		</table>
    	</div>

        <div ng-show="loading">
        	<p style="text-align:center" ><i class="fa fa-cog fa-spin fa-2x"></i> </p>
	</div>

	<div ng-show="selected_date && !loading && messages && messages.length == 0">
		<p style="text-align:center" ><i class="fa fa-info-circle fa-2x"></i>
		 No activities recorded</p>
	</div>

	<div ng-show="!messages && !loading" style="text-align:center;color:red">
		<i class="fa fa-exclamation-triangle fa-2x"></i>
		<p> An Error Has Occurred, Please check your Network Connectivity.</p>
	</div>
 </div>       
