{% load staticfiles %}
<div class="content">
    <h2 class="content-subhead">Signing out . . .</h2>
    <p style="text-align:center">
        <i class="fa fa-bell"></i> Are you sure, you want to Signout?
    </p>
    <p style="text-align:center">
        <a class="pure-button" href="{{logout_url}}" title="Logout">
            <i class="fa fa-check"></i>Yes
        </a>
        <a class="pure-button" href="#/" title="Go Back">
            <i class="fa fa-times"></i> No
        </a>
    </p>
</div>