        .ind_message {
            overflow: hidden;
            font-family: "Comic Sans MS", cursive, sans-serif;
	    font-size: x-large;
        }

        .message_border{
	    border-width:1px;
            border-style:solid;
	    border-color:#0099CC;
	    border-radius: 5px 5px 5px 5px;
 	    padding: 5px 5px 5px 5px;
	    margin: 5px auto 5px auto;
        }
	.message_time{
            font-family: "Courier New", Courier, monospace;
            font-size: small;
            text-align:right;
            color: darkslategray
        }
	.list_style{
		list-style-type:none;
	}
	.user{
		text-align : right;
		font-weight : 300;
		font-size : 1em;
	}
	.selected_date{
    		border-bottom-width: 1px;
    		border-bottom-style: solid;
    		border-bottom-color: rgb(229, 229, 229);
		text-align: center;
	}
  	.button-logout {
            background: #DC4E41;
        }
	.link_credit {
	    text-decoration: none;
	    color:black;
	    text-shadow: 1px 1px #ccc;
	}
	
	.link_credit:hover {
		text-decoration: underline;
	}
	
